@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap';

body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background: #010a0a;
}

.app {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #010a0a;
  background: linear-gradient(0deg, #010a0a 0%, #042805 100%);
}

.workspace {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: calc(100% - 36px);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.console {
  position: absolute;
  text-align: left;
  bottom: 0;
  left: 0;
  background: #010a0a;
  color: #aaaaaa;
}

.console > p {
  font-size: 12px;
  margin: 0;
  padding: 0 4px;
}